<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.want.wantworld.dao.AccessTokenDao">
<resultMap id="BaseResultMap" type="com.want.wantworld.entity.AccessToken">
    <id column="SID" jdbcType="NUMERIC" property="sid" />
    <result column="TOKEN" jdbcType="VARCHAR" property="token" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, TOKEN, CREATE_DATE, END_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WANTWORLDV2.ACCESS_TOKEN
    where SID = #{sid,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from WANTWORLDV2.ACCESS_TOKEN
    where SID = #{sid,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.want.wantworld.entity.AccessToken">
    insert into WANTWORLDV2.ACCESS_TOKEN (SID, TOKEN, CREATE_DATE, 
      END_DATE)
    values (#{sid,jdbcType=NUMERIC}, #{token,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.want.wantworld.entity.AccessToken">
    insert into WANTWORLDV2.ACCESS_TOKEN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="token != null">
        TOKEN,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=NUMERIC},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.want.wantworld.entity.AccessToken">
    update WANTWORLDV2.ACCESS_TOKEN
    <set>
      <if test="token != null">
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SID = #{sid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.want.wantworld.entity.AccessToken">
    update WANTWORLDV2.ACCESS_TOKEN
    set TOKEN = #{token,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP}
    where SID = #{sid,jdbcType=NUMERIC}
  </update>
</mapper>