<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.want.wantworld.dao.BaseSystemLinkDao">
  <resultMap id="BaseResultMap" type="com.want.wantworld.entity.BaseSystemLink">
    <id column="SID" jdbcType="NUMERIC" property="sid" />
    <result column="SYS_NAME" jdbcType="VARCHAR" property="sysName" />
    <result column="SYS_KEY" jdbcType="VARCHAR" property="sysKey" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="STATUS" jdbcType="NUMERIC" property="status" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, SYS_NAME, SYS_KEY, URL, STATUS, CREATOR, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WANTWORLDV2.BASE_SYSTEM_LINK
    where SID = #{sid,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from WANTWORLDV2.BASE_SYSTEM_LINK
    where SID = #{sid,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.want.wantworld.entity.BaseSystemLink">
    insert into WANTWORLDV2.BASE_SYSTEM_LINK (SID, SYS_NAME, SYS_KEY, 
      URL, STATUS, CREATOR, 
      CREATE_DATE, UPDATE_DATE)
    values (#{sid,jdbcType=NUMERIC}, #{sysName,jdbcType=VARCHAR}, #{sysKey,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{status,jdbcType=NUMERIC}, #{creator,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.want.wantworld.entity.BaseSystemLink">
    insert into WANTWORLDV2.BASE_SYSTEM_LINK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="sysName != null">
        SYS_NAME,
      </if>
      <if test="sysKey != null">
        SYS_KEY,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=NUMERIC},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysKey != null">
        #{sysKey,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NUMERIC},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.want.wantworld.entity.BaseSystemLink">
    update WANTWORLDV2.BASE_SYSTEM_LINK
    <set>
      <if test="sysName != null">
        SYS_NAME = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysKey != null">
        SYS_KEY = #{sysKey,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=NUMERIC},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SID = #{sid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.want.wantworld.entity.BaseSystemLink">
    update WANTWORLDV2.BASE_SYSTEM_LINK
    set SYS_NAME = #{sysName,jdbcType=VARCHAR},
      SYS_KEY = #{sysKey,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=NUMERIC},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where SID = #{sid,jdbcType=NUMERIC}
  </update>
</mapper>